.pyramid {
  text-align: center;
}

.pyramid-row {
  margin-top: -100px;
  height: 143px;
}

.pyramid-row--first {
  margin-top: 0;
}

.pyramid-card {
  --width: 100px;
  width: var(--width);
  display: inline-block;
  transition: transform 150ms ease-out;
}

.pyramid-card--selected {
  border: 2px solid red;
}

.pyramid-card--selectable:hover {
  transform: translateY(-15px);
  cursor: pointer;
}

.pyramid-card__image {
  max-width: 100%;
}
