:root {
  --card-width: 100px;
}

.pyramid {
  text-align: center;
}

.pyramid-row {
  margin-top: -100px;
  height: 143px;
}

.pyramid-row--first {
  margin-top: 0;
}

.pyramid-card {
  width: var(--card-width);
  display: inline-block;
  transition: transform 150ms ease-out;
}

.pyramid-card--selected {
  border: 2px solid red;
}

.pyramid-card--selectable:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.pyramid-card__image {
  max-width: 100%;
}

.extra-cards {
  display: flex;
}

.extra-card-stack {
  position: relative;
  width: var(--card-width);
}

.extra-card {
  position: absolute;
  top: 0;
  left: 0;
}
