:root {
  --card-width: 100px;
}

.pyramid {
  text-align: center;
}

.pyramid-row {
  margin-top: -100px;
  height: 143px;
}

.pyramid-row--first {
  margin-top: 0;
}

.extra-cards {
  display: flex;
}

.extra-card-stack {
  position: relative;
  width: var(--card-width);
}

.extra-card {
  position: absolute;
  top: 0;
  left: 0;
}

.deck {
  width: var(--card-width);
  height: 139px;
}

.bottom-part {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
