.card {
  width: var(--card-width);
  max-width: var(--card-max-width);
  display: inline-block;
  transition: transform 150ms ease-out;
}

.card--selectable {
  pointer-events: all;
}

.card--selectable:hover {
  transform: scale(1.05);
  z-index: 1;
  cursor: pointer;
}

.card__image {
  max-width: 100%;
}

.card__image--selected {
  box-shadow: 0px 0px 20px red;
  border-radius: 7px;
}
